img {
    height: 200px;
}
h3{
    border: 5px dashed lightblue;
    padding: 15px;
}
p{
    border: 5px dotted yellow;
    padding:15px;
    margin: 20px;
}
img{
    border:5px solid gray;
    padding:5px;
    margin:5px;
}